

/*#city{
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(102, 163, 232);
}

.button{
height: 50px;
width: 50;
}*/


.nav{
    display: flex;
    background-color: rgb(203, 203, 255);
    
}

.input{
    align-items: right ;
}
.container{
   
    border-width: 4em;
    padding: 20px;
    margin: 20px;
}
#cityBanner{

}
    
   

   .row{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    direction: column;
    flex-direction: column;
    border-style: solid;
    border-radius: 1em;
    background-color: rgb(203, 203, 255);
    border-color: lightgrey;
    border-width: 2px;
     border-color: black;
   
    width:20vw
}

@media screen and (max-width: 768px) {
    weatherCards
     {
      flex-direction: row;
    }
  }