

/*#city{
    height: 50px;
    width: 200px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    background-color: rgb(102, 163, 232);
}
*/

.btn{

}

.input{
    float: right ;
}

.nav{
    padding: 10px;
    background-color: rgb(36, 36, 250);
}

#forecast{
    position:absolute;
    display: contents-center;
    float:right;
    border-width: 4em;
    padding: 10px;
    margin: 20px;
    margin-top: 40px;
    }

   .card{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    border-style: solid;
    border-radius: 1em;
    background-color:  rgb(211, 225, 245);
    border-width: 2px;
    border-color:rgb(36, 36, 250);
    box-shadow: 5em;
    padding: 10px;
    margin: 17px;
}

@media screen and (max-width: 900px) {
    weatherCard
     {
      flex-direction: column;
    }
  }