body{
    background-image: url("./Assets/sky\'s_the_limit.jpg");
    background-position: center;
    background-size: cover;
}

.btn{
    background-color: rgb(36, 36, 250);
}

.input{
    float: right ;
}

.nav{
    padding: 10px;
    background-color: rgb(36, 36, 250);
}

#weatherNow{
    border-width: 2px;
    border-color:rgb(36, 36, 250); 
}

#forecast{
    position:absolute;
    display: contents-center;
    float:right;
    border-width: 4em;
    padding: 5px;
    margin: 10px;
    margin-left: 15%;
    }

   .card{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    border-style: solid;
    border-radius: 1em;
    background-color:  rgb(211, 225, 245);
    border-width: 2px;
    border-color:rgb(36, 36, 250);
    box-shadow: 5em;
    padding: 10px;
    margin: 5px;
}

@media screen and (max-width: 900px) {
    weatherCard
     {
      flex-direction: column;
    }
    weatherNow {
        flex-direction: row;
    }
  }